/*style.css*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-family: 'Karla', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
}

:root {
  --grey-color: #bfc1b9;
  --background-pink: #f7e1d2;
  --background-white: #fffcfa;
  --background-white-rgb: 255,252,250;
  --button-red: #ee4b4a;
  --button-red-rgb: 238,75,74;
  --main-black: #2b2c30;
  --green-button: #0d3a23;
  --green-button-rgb: rgb(13,58,35);
  --body-margin: 1rem;
  --alpha: 80%;
  --title-font:'Playfair Display', serif;
  --article-font:'Dosis', sans-serif;
}

.container {
  margin-left: var(--body-margin);
  margin-right: var(--body-margin);
  margin: 3rem;
}

.header {
  display: flex;
  place-content: center space-between;
  align-items: center;
  background-color: var(--background-pink);

  & .logo {
    width: 2rem;
    height: 2rem;
  }

  & .text-logo {
    width: 8rem;
    height: 2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  background: var(--background-pink);
  width: 100%;
  --mask:
    radial-gradient(136.40px at 50% calc(100% - 183.00px),#000 99%,#0000 101%) calc(50% - 122px) 0/244px 100%,
    radial-gradient(136.40px at 50% calc(100% + 122.00px),#0000 99%,#000 101%) 50% calc(100% - 61px)/244px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem 0;

  & .hero-title {
    padding: 1rem;
    font-size: 3rem;
    font-family:'Playfair Display', serif;
    font-weight: 400;
  }

  & .hero-text {
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Doris', sans-serif;
    font-weight: 200;
  }
}

.horizontal-line {
  border: 0.05rem var(--grey-color) solid;
  width: 100%;
  display: flex;
  align-self: center;
}

.choose-solution {
  display: flex;
  flex-direction: column;

  & .choose-solution-text {
    text-align: center;
    margin: 1rem 0;
  }
}

.solutions {
  display: flex;
  gap: 1rem;
}

.solutions-item {
  width: 10rem;
  height: 15rem;
  background-color: rgba(var(--background-white-rgb), .6);
  border-radius: 1rem;
  position: relative;

  &:has(input:checked) {
    background-color: var(--background-white);
    box-shadow: 2px 2px 2px var(--main-black);
  }

  & img {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
  }

  & label > input[type="checkbox"] {
    appearance: none;
/*    display: flex;
    place-content: center center;
    font-size: 2rem;
    padding: 0.2rem;
    border: 0.25rem solid grey;
    border-radius: 0.5rem;*/
  }

  & label > input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    border-radius: 25%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--main-black);
    position: absolute;
    right: 1rem;
  }

  & label > input[type="checkbox"]:checked::before {
    content: "✔︎";
    color: var(--main-black);
    text-align: center;
    font-size: 130%;
    padding: 0.1rem;
  }

  & p {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family:'Dosis', sans-serif;
    font-weight: 600;
  }
}

.button {
  background-color: var(--button-red);
  display: flex;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  font-size: 120%;
  font-family: 'Playfair Display', serif;
  color: var(--background-white);
  margin: 2rem 0;
  position: relative;

  &:hover {
    background-color: var(--main-black);
  }

  & .button-arrow {
    background-color: var(--background-white);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    & svg {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}

.logo-cloud {
  background-color: var(--grey-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 25px;
  margin-bottom: 8rem;

  & h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 130%;
  }

  & .companies {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    & img {
      width: 5rem;
      height: 3rem;
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  & .article-item {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    & h1 {
      font-family:'Playfair Display', serif;
      color: var(--main-black);
      font-size: 250%;
      font-weight: 500;
      line-height: 3rem;
    }

    & p {
      font-family: 'Dosis', sans-serif;
      color: var(--main-black);
      line-height: 1.5rem;
    }

    & .plant {
      height: 10rem;
      width: 10rem;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;

  & .features-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & img {
      padding: 1rem 0;
    }

    & h1 {
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    & p {
      font-family:'Dosis', sans-serif;
    }

    & a {
    text-decoration: none;
    color: var(--main-black);
    font-weight: 300;
    }

    & .features-item-link {
      display: flex;

      & a {
      font-weight: 800;
      margin-bottom: 2rem;
      }
    }
  }
}

.testimonials {

  & h1 {
    font-family: 'Playfair Display', serif;
    font-size: 230%;
    font-weight: 600;
    text-align: center;
    color: var(--main-black);
    margin-bottom: 1rem;
  }

  & .testimonials-item {
    background-color: var(--background-pink);
    padding: 4rem 2rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;

    & p {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      text-align: center;
      font-weight: 300;
      line-height: 1.7rem;
    }

    & .testimony-name {
      font-family: 'Karla', sans-serif;
      font-style: normal;
      font-size: 90%;
    }

    & .testimony-title {
      font-style: normal;
      font-size: 70%;
    }

    & button {
      border: none;
      background-color: var(--green-button);
      border-radius: 100px;
      box-sizing: border-box;
      display: inline-flex;
      color: var(--background-white);
      justify-content: center;
      padding: 0.5rem 1rem;
      gap: 1rem;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.steps {
  background-color: var(--grey-color);
  padding: 2rem 0;

  & .background {
    background-image: url("assets/world-background-image.svg");
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  & h1 {
    text-align: center;
    margin: 3rem;
    font-size: 220%;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: var(--main-black);
    line-height: 3rem;
  }

  & p {
    font-family: 'Dosis', sans-serif;
    line-height: 2rem;
    color: var(--main-black);
  }

  & .steps-intro {
    display: grid;

    & button {
      border: none;
      background-color: var(--green-button);
      border-radius: 100px;
      box-sizing: border-box;
      display: inline-flex;
      color: var(--background-white);
      justify-content: center;
      padding: 1rem 2rem;
      gap: 1rem;
      text-align: center;
      margin: 3rem auto;
      border: 0.1rem solid var(--green-button);

      &:hover {
        background-color: transparent;
        color: var(--green-button-rgb);
      }
    }
  }

  & .steps-points {
    display: flex;
    flex-direction: column;

    & .approach {
      margin-bottom: 3rem;
    }

    & h2 {
      font-family: 'Dosis', sans-serif;
      color: var(--main-black);
      font-size: 110%;
      margin-bottom: 2rem;
    }

    & .white-buttons {

      & button {
        border: none;
        background-color: var(--background-white);
        border-radius: 100px;
        color: var(--main-black);
        padding: 0.5rem 1rem;
        width: 49%;

       /* &:hover {
          background-color: red;
        }*/

        &.management-button:active {
          background-color: red;
        }

        &.talent-button:active {
          background-color: yellow;
        }
      }
    }

    & button {
      border: 0.1rem solid var(--green-button);
      background-color: var(--green-button);
      border-radius: 100px;
      box-sizing: border-box;
      display: inline-flex;
      color: var(--background-white);
      justify-content: center;
      padding: 0.5rem 1rem;
      gap: 1rem;
      text-align: center;
      vertical-align: middle;
      padding: 1rem 0;

      &:hover {
        background-color: transparent;
        color: var(--green-button);
      }
    }

    & span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: var(--background-white);
      color: var(--main-black);
    }
  }
}

.management {
  display: none;

  &:has(.management-button:active) {
  display: block;
  }
}

.story {

  & .story-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h1 {
      font-family: var(--title-font);
      color: var(--main-black);
      font-size: 220%;
      font-weight: 500;
    }
    & p {
      font-family: var(--article-font);
    }
    & button {
      background-color: var(--green-button);
      border: none;
      border-radius: 100px;
      padding: 1rem;
      color: var(--background-white);
      border: 0.1rem solid var(--green-button);
      box-sizing: border-box;
      width: 33%;
      font-size: 13px;
      transition: 0.3s;

      &:hover {
        background-color: transparent;
        color: var(--green-button-rgb);
      }
    }
  }

  & .story-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5rem;
    margin: 3rem 0;
    position: relative;

    .photo {
      background-color: var(--grey-color);
      border-radius: 10px;

      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-position: top;
        border-radius: 10px;
      }
    }

    & .item3 {
      position: relative;
      top: -1rem;
      left: -1.5rem;
      box-shadow: 0 0 0.5rem var(--main-black);
    }

    & .item5 {
      position: relative;
      top: 1rem;
      left: -1rem;
      box-shadow: 0 0 0.5rem var(--main-black);
    }

    & .item2 {
      background-color: var(--background-pink);
    }
  }
}

.meeting {
  position: relative;

  & img {
    width: 100%;
    border-radius: 10px;
    margin: 3rem 0;
  }

  & .red-note {
    background-color: var(--background-pink);
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 14rem;
    left: 3rem;
    box-shadow: 0 0 0.5rem var(--main-black);
  }
}

.last {
  background-color: var(--background-pink);

  & img {
    width: 100%;
  }
}

