/*style.css*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-family: 'Karla', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
}

:root {
  --grey-color: #bfc1b9;
  --background-pink: #f7e1d2;
  --background-white: #fffcfa;
  --background-white-rgb: 255,252,250;
  --button-red: #ee4b4a;
  --button-red-rgb: 238,75,74;
  --main-black: #2b2c30;
  --body-margin: 1rem;
  --alpha: 80%;
}

.container {
  margin-left: var(--body-margin);
  margin-right: var(--body-margin);
}

.header {
  display: flex;
  place-content: center space-between;
  align-items: center;
  background-color: var(--background-pink);

  & .logo {
    width: 2rem;
    height: 2rem;
  }

  & .text-logo {
    width: 8rem;
    height: 2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  background: var(--background-pink);
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem 0;

  & .hero-title {
    padding: 1rem;
    font-size: 3rem;
    font-family:'Playfair Display', serif;
    font-weight: 400;
  }

  & .hero-text {
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Doris', sans-serif;
    font-weight: 200;
  }
}

.horizontal-line {
  border: 0.05rem var(--grey-color) solid;
  width: 100%;
  display: flex;
  align-self: center;
}

.choose-solution {
  display: flex;
  flex-direction: column;

  & .choose-solution-text {
    text-align: center;
    margin: 1rem 0;
  }
}

.solutions {
  display: flex;
  gap: 1rem;
}

.solutions-item {
  width: 10rem;
  height: 15rem;
  background-color: rgba(var(--background-white-rgb), .6);
  border-radius: 1rem;
  position: relative;

  &:has(input:checked) {
    background-color: var(--background-white);
    box-shadow: 2px 2px 2px var(--main-black);
  }

  & img {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
  }

  & label > input[type="checkbox"] {
    appearance: none;
/*    display: flex;
    place-content: center center;
    font-size: 2rem;
    padding: 0.2rem;
    border: 0.25rem solid grey;
    border-radius: 0.5rem;*/
  }

  & label > input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    border-radius: 25%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--main-black);
    position: absolute;
    right: 1rem;
  }

  & label > input[type="checkbox"]:checked::before {
    content: "✔︎";
    color: var(--main-black);
    text-align: center;
    font-size: 130%;
  }

  & p {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family:'Dosis', sans-serif;
    font-weight: 600;
  }
}

.button {
  background-color: var(--button-red);
  display: flex;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  font-size: 120%;
  font-family: 'Playfair Display', serif;
  color: var(--background-white);
  margin: 2rem 0;
  position: relative;

  &:hover {
    background-color: var(--main-black);
  }

  & .button-arrow {
    background-color: var(--background-white);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    & svg {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}

.logo-cloud {
  background-color: var(--grey-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 25px;

  & h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 130%;
  }

  & .companies {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    & img {
      width: 5rem;
      height: 3rem;
    }
  }
}


















